@{
    ViewBag.Title = "Sudoku ASP.NET";
}
@using SA_Week5_Sudoku.Models
@model SA_Week5_Sudoku.Models.ASPBoard

<div class="page-header">
    <p><h1>@ViewBag.Title</h1></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="sudokuGameDiv">
                @{
                    foreach (var item in SessionContainer.Current.SES_ASPBoard.board.GridRows)
                    {
                        foreach (var grid in item)
                        {
                            <table width="20%" border="1" style="border: 1px solid #000; float: left;">
                                @foreach (var cell in grid.GridRows)
                                {
                                    <tr>
                                        @foreach (var info in cell)
                                        {
                                            string color = "";
                                            string inputColor = "";
                                            if (info.ReadOnly) { color = "33C133"; }
                                            if (info.IsValid == false) { inputColor = "f66161"; }
                                            <td style="height: 50px; width: 50px; text-align: center; background:#@color;">
                                                @if (info.Value != null)
                                                {
                                                    @info.Value
                                                }
                                                else
                                                {
                                                    <input type="number" onchange="ChangeValue(@info.getRow(), @info.getCol())" min="@info.PossibleValues.Min()" max="@info.PossibleValues.Max()" style="width: 100% !important; border: 0; text-align: center; height: 100% !important; margin: 0; padding: 0; background:#@inputColor;"/>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                        <div class="clear"></div>
                    }
                }
        </div>
        </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
        <input type="button" onclick="SolveGame()" value="Cheat"/>
        <input type="button" onclick="NewGame()" value="New Game" />
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>

<script>
    function ChangeValue(row, col) {
        $.get("/Home/ChangeValue?row="+row+"&col="+col+"", function (data) {
            $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }

    function SolveGame() {
        $.get("/Home/SolveGame", function (data) {
            $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }
    function NewGame() {
        $.get("/Home/NewGame", function (data) {
            $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }
</script>