@{
    ViewBag.Title = "Sudoku ASP.NET";
}
@using SA_Week5_Sudoku.Models
@model SA_Week5_Sudoku.Models.ASPBoard

<div class="page-header">
    <p><h1>@ViewBag.Title</h1></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="sudokuGameDiv">
            @{
                // Need to to quick access where you are in iteration.
                int tableRow = 0;
                int tableIndex = 0;
                int RowRow = 0;
                int RowIndex = 0;
                // # Need to to quick access where you are in iteration.

                foreach (var item in SessionContainer.Current.SES_ASPBoard.board.GridRows)
                {
                    foreach (var grid in item)
                    {
                        <table width="20%" border="1" style="border: 1px solid #000; float: left;">
                            @foreach (var cellRow in grid.GridRows)
                            {
                                <tr>
                                    @foreach (var cell in cellRow)
                                    {
                                        string color = "";
                                        string inputColor = "";
                                        if (cell.ReadOnly)
                                        {
                                            color = "33C133"; /* Green */
                                        }
                                        if (cell.IsValid == false)
                                        {
                                            inputColor = "f66161"; /* Red */
                                        }

                                        <td style="height: 50px; width: 50px; text-align: center; background: #@color;">
                                            @if (cell.Value != null && cell.IsValid && cell.ReadOnly)
                                            {
                                                @cell.Value
                                            }
                                            else
                                            {
                                                <input type="number" onchange="ChangeValue(@tableRow, @tableIndex, @RowIndex, @RowRow, this)" min="@cell.PossibleValues.Min()" max="@cell.PossibleValues.Max()" style="width: 100% !important; border: 0; text-align: center; height: 100% !important; margin: 0; padding: 0; background: #@inputColor;" value="@cell.Value"/>
                                            }
                                        </td>
                                        RowIndex++;
                                    }
                                </tr>
                                RowRow++;
                                RowIndex = 0;
                            }
                        </table>
                        tableIndex++;
                        RowRow = 0;
                    }
                    <div class="clear"></div>
                    tableRow++;
                    tableIndex = 0;
                }
            }
        </div>
        </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
        <input type="button" onclick="SolveGame()" value="Cheat"/>
        <input type="button" onclick="NewGame()" value="New Game" />
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>

<script>
    function ChangeValue(tableRow, tableIndex, row, col, val) {
        $.get("/Home/ChangeValue?row="+row+"&col="+col+"&val="+val.value+"&tableI="+tableIndex+"&tableR="+tableRow, function (data) {
           $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }

    function SolveGame() {
        $.get("/Home/SolveGame", function (data) {
            $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }
    function NewGame() {
        $.get("/Home/NewGame", function (data) {
            $("#sudokuGameDiv").load(location.href + " #sudokuGameDiv");
        });
    }
</script>